.input {
    font-size: 25px;
    color: gray;
    margin: 20px 0;
}

.m-question {
    width: 100%;
}
.c-question {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.m-answer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.m-example {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.c-example {
    width: 300px;
    padding: 15px;
    border: solid 1px black;
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
    position: relative;
}
.next {
    font-size: 15px;
    color: gray !important;
    padding: 10px 15px;
    border: solid 1px lightblue;
    border-radius: 8px;    
    background-color: lightblue;
    position: absolute;
    right: 40px;
    bottom: 60px;
}
.next:hover {
    cursor: pointer;
    color: cornsilk !important;
}
@media (max-width:670px) {
    .next {
        position: absolute;
        bottom: 30px;
    }
}