body{
    margin: 0;
}
.logout:hover {
  color: yellow;
  text-decoration: none;
}
.logout {
  display: inline-block;
  position: relative;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}
.logout::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: yellow;
  content: "";
  transition: 0.3s;
  transform: translateX(-50%);
}
.logout:hover::after {
  width: 100%;
}
.p-main {
//   display: flex;
}
main h1 {
  font-size: 80px;
  font-family: arial;
  text-align: center;
  padding:140px 0 70px 0;
  background-color: lightblue;
  color: #fff;
  -webkit-text-stroke: 3px skyblue;
  font-weight: bold;
  }
  /* メディアクエリ（@media） */
@media (max-width:670px) {
  main h1 {
    font-size: 50px;
  }
  .mainList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .p-main {
    display: block;
    margin: auto;
  }
}
@media (max-width:1000px) {
  .mainList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
.mainList {
  margin: 130px auto;
  list-style: none;
  width: 60%;
  padding: 0;
}
.mainList li {
  width: 200px;
  margin-left: 30px;
  margin-bottom: 20px;
  display: inline-block;
}
.btn-sticky {
  display: inline-block;
  padding: 0.5em 1em;
  background: #f7f7f7;
  border-left: solid 6px navy;/*左線*/
  color: navy;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:hover {
  text-decoration: none;
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
.modal-title {
  font-family: serif;
}
.modal-body {
  margin: 60px 50px;
  text-align: center;
}
.btn-square-little-rich {
  font-size: 30px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  color: #FFF;
  background: #03A9F4;/*色*/
  border: solid 1px #0f9ada;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.btn-square-little-rich:hover {
  text-decoration: none;
}
.btn-square-little-rich:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

.question {
  height: 300px;
  width: 450px;
  border: solid 2px #EC407A;
  border-radius: 50px;
  text-align: center;
  margin-left: 30px;
  padding-top: 50px;
  vertical-align: top;
}
.question p {
  font-size: 20px;
  font-family: serif;
  color: #EC407A;
}
.labelText {
  font-family:serif;
  color: #EC407A;
}
.textContent {
  margin-left: 75px;
}
.formSquare {
  border: 2px solid #EC407A;
  border-radius: 3px;
  color: #EC407A;
}
.textSubmit {
  font-family: serif;
  margin-left: 230px;
	padding-right: 0.8em;
  padding-left: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #EC407A;
  background-color: #fff;
	border: 2px solid #EC407A;
	border-radius: 3px;
	transition: .4s;
}
.textSubmit:hover {
	background: #EC407A;
	color: #fff;
}
@media (max-width:670px) {
  .c-mainMenu {
    margin: 20px auto;
  }
  .question {
    width: 70%;
    margin:100px auto;
  }
  .question p {
    margin-left: 0;
  }
}
/* カレンダー */
.calender {
  width: 450px;
  height: 350px;
  margin-left: 5%;
}
.calender p {
  font-size: 25px;
  color: gray;
}
.week {
  width: 270px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}
.date {
  font-size: 20px;
  color: gray;
  margin-right: 30px;
}
.week :first-child {
  margin-left: 17px;
}
.month {
  color: gray;
}
.calenderContents {
  width: 350px ;
  height: 240px;
  margin-left: 30px;
}
.day {
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  margin-left: 5px;
  display: inline-block;
}

.low-level {
  color: gray;
  display: inline-block;
}
.never {
  width: 30px;
  height: 30px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  display: inline-block;
  margin-left: 5px;
}
.afew {
  width: 30px;
  height: 30px;
  background-color: #ffffcc;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  display: inline-block;
  margin-left: 5px;
}
.normal {
  width: 30px;
  height: 30px;
  background-color: #ffff66;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  display: inline-block;
  margin-left: 5px;
}
.much {
  width: 30px;
  height: 30px;
  background-color: #ffff33;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  display: inline-block;
  margin-left: 5px;
}
.veryMuch {
  width: 30px;
  height: 30px;
  background-color: #ffff00;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  display: inline-block;
  margin-left: 5px;
}
.high-level {
  color: gray;
  display: inline-block;
}
.main-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

@media (max-width:670px) {
  .main-bottom {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
  }
}

/* フッター */
footer {
  height: 120px;
  width: 100%;
  background-color: skyblue;
  padding-top: 15px;
}
footer p {
  text-align: center;

}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}
footer ul li {
  margin-right: 5px;
}
.instagramlogo {
  height: 48px;
  width: 47px;
}
.facebooklogo {
  border-radius: 8px;
}
@media (max-width:1000px) {
  footer ul {
    display: flex;
    justify-content: center;
    margin-right: 40px;
  }
}
