.conversationList {
    font-size: 20px;
    color: dimgrey;
    margin-top: 60px;
}
.space {
    width: 200px !important;
    background-color: lightgray;
    display: inline-block;
    padding-bottom: 20px;
}