.output {
    margin: 20px 0;
}

.w-question {
    width: 40%;
    margin: 0 auto;
}
.select-answer {
    width: 400px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}
.selection {
    width: 200px;
    font-size: 25px;
    margin-top: 20px;
}
.selection a:hover {
    color: cornflowerblue;
    cursor: pointer;
}