.output {
    margin: 20px 0;
}

.w-question {
    width: 40%;
    margin: 0 auto;
}
.select-answer {
    width: 60%;
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10%;
}
.selection {
    color: black;
    font-size: 20px;
    margin: 5% 0;
}
.selection a:hover {
    color: cornflowerblue;
    cursor: pointer;
}
.selection button {
    border: none;
    color: cornflowerblue;
    outline: none;
    background-color: transparent;
}